[workspace]
members = ["master", "cli", "migration", "entity"]

[workspace.dependencies]
actix-cors = "0.7.1"
actix-web = "4.10.1"
actix-web-httpauth = "0.8.2"
aho-corasick = "1.1.3"
rand = "0.9.0"
dotenvy = "0.15.7"
envy = "0.4.2"
serde = "1.0.204"
serde_json = "1.0.115"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
sea-orm = "1.1.7"
helpers = { path = "../Projects/helpers" }
reqwest = "0.12.15"
sysinfo = "0.33.1"
actix-multipart = "0.7.2"
mockall = "0.13.1"
cloudflare = "0.14.0"
entity = { path = "./entity" }
migration = { path = "./migration" }
