
[package]
name = "rpc"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
reqwest = { workspace = true, default-features = false, features = [
  "rustls-tls",
  "json",
  "multipart",
  "stream",
] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
log = { workspace = true }
env_logger = { workspace = true }
