[package]
name = "agent"
version = "0.1.0"
edition = "2024"

[dependencies]
actix-cors = { workspace = true }
actix-web = { workspace = true }
aho-corasick = { workspace = true }
anyhow = { workspace = true }
dotenvy = { workspace = true }
envy = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
reqwest = { workspace = true, features = ["json"] }
sysinfo = { workspace = true }
actix-multipart = { workspace = true }
helpers = { workspace = true, features = ["jwt"] }

[dev-dependencies]
mockall = { workspace = true }
