name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - v[0-9].[0-9]*.*

jobs:
  create-release:
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.release.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v4
      - name: Create Release
        id: release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
  upload-assets:
    needs: create-release
    strategy:
      matrix:
        include:
          # - target: x86_64-unknown-linux-gnu
          #   os: ubuntu-latest
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
          - target: x86_64-apple-darwin
            os: macos-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        run: rustup toolchain install stable --profile minimal
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: pupup-agent,pupup-cli,pupup-master
          target: ${{ matrix.target }}
          tar: all
          zip: none
          include: README.md
          archive: pupup-${{ matrix.target }}
          token: ${{ secrets.GITHUB_TOKEN }}
  publish-npm:
    needs: upload-assets
    runs-on:
      ubuntu-latest
      # wget https://github.com/JQiue/sprout/releases/download/${{ github.ref_name }}/pupup-x86_64-apple-darwin.tar.gz

      # wget https://github.com/JQiue/sprout/releases/download/${{ github.ref_name }}/pupup-x86_64-pc-windows-msvc.tar.gz
      # tar -xf pupup-x86_64-pc-windows-msvc.tar.gz pupup-cli.exe
      # mv pupup-cli.exe npm/bin/pupup_windows_x64.exe

      # wget https://github.com/JQiue/sprout/releases/download/${{ github.ref_name }}/pupup-x86_64-unknown-linux-musl.tar.gz
      # tar -xf pupup-x86_64-pc-windows-msvc.tar.gz pupup-cli.exe
      # mv pupup-cli.exe npm/bin/pupup_windows_x64.exe

      # tar -xf pupup-x86_64-apple-darwin.tar.gz pupup-cli
      # mv pupup-cli npm/bin/pupup_macos_x64
    # tar -xf pupup-x86_64-unknown-linux-musl.tar.gz pupup-cli
    # mv pupup-cli npm/bin/pupup_linux_x64
    steps:
      - uses: actions/checkout@v4
      - name: Run cli
        run: |
          mkdir npm/bin
          wget https://github.com/JQiue/sprout/releases/download/${{ github.ref_name }}/pupup-x86_64-unknown-linux-musl.tar.gz
          tar -xf pupup-x86_64-unknown-linux-musl.tar.gz pupup-cli
          mv pupup-cli npm/bin/pupup_linux_x64
          upx -9 npm/bin/pupup_linux_x64
          wget https://github.com/JQiue/sprout/releases/download/${{ github.ref_name }}/pupup-x86_64-pc-windows-msvc.tar.gz
          tar -xf pupup-x86_64-pc-windows-msvc.tar.gz pupup-cli.exe
          mv pupup-cli.exe npm/bin/pupup_windows_x64.exe
          upx -9 npm/bin/pupup_windows_x64.exe
          wget https://github.com/JQiue/sprout/releases/download/${{ github.ref_name }}/pupup-x86_64-apple-darwin.tar.gz
          tar -xf pupup-x86_64-apple-darwin.tar.gz pupup-cli
          mv pupup-cli npm/bin/pupup_macos_x64
          upx -9 npm/bin/pupup_macos_x64
      - uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./npm
